/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e7eb;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: #e5e7eb;
}

